<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Trabalho 3 - Editar cliente</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <h1>Editar cliente</h1>
        <div class="row">
            <div class="col-lg-6">
                <form method="post">
                    <input type="hidden" name="id" value="<%=cliente.id%>" />
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input class="form-control" type="text" name="nome" placeholder="Nome" value="<%=cliente.nome%>" required />
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input class="form-control" type="text" name="email" placeholder="E-mail" value="<%=cliente.email%>"
                            required/>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Editar"/>
                    <a class="btn btn-light" href="/cliente.html">Voltar</a>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>

</html>