<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        Trabalho 3 - Lista de Produtos
    </title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/basic.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h1>
                        Lista de Produtos
                    </h1>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-light" href="/index.html">Voltar</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <form method="POST" action="/avaliacao/buscar.html">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" name="buscar" placeholder="Buscar por..." aria-label="Buscar por...">
                                    <span class="input-group-btn">
                                        <input type="submit" class="btn btn-secondary" value="Buscar" />
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="table table-striped table-sm">
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Preço base</th>
                                    <th>Preço</th>
                                </tr>
                                <% if (!produtos.length) { %>
                                    <tr>
                                        <td colspan="4" class="text-center">Não há produtos cadastrados</td>
                                    </tr>
                                <% } else { %>
                                    <% for(var i = 0; i < produtos.length; i++) { %>
                                        <tr>
                                            <td>
                                                <%=(i + 1)%>
                                            </td>
                                            <td>
                                                <%=produtos[i].nome%>
                                            </td>
                                            <td>R$ <%=parseFloat(Math.round(produtos[i].preco_base * 100)/100).toFixed(2)%>
                                            </td>
                                            <td>R$ <%=parseFloat(Math.round(produtos[i].preco * 100)/100).toFixed(2)%>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>